<div class="container">
  <div class="col-6 justify-content-center">
    <h1>Your score is</h1>
      <p>
        <%= @message %>
      </p>
      <%= link_to "Try with new letters", newGame_path %>
  </div>
</div>
